<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
           <bean id="Product"  class="com.example.spring_product.product">
           <property name="productname" value="Laptop"/>
           <property name="description" value="laptop with 32 gn RAM"/>
           </bean>
</beans>    